body{
    background-color: rgb(208, 224, 227);
}

h1{
 font-family: 'Pacifico', cursive;
 color:rgb(64, 178, 216);
 text-align: center;
 font-size: 80px;
 
}

/* logo */

.logo {
    
    width: 100%;
    height: 200px;
    /* border: 2px solid rgb(55, 63, 175); */
    padding: 0 8px 0 8px;
}

.logo img {
height: 80%;
width: 10%;
margin: 2% ;


}
img.B{
float:right;
border-radius: 2px;

}
/* middle text */
p{
    text-align: center;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p b{
    color:rgb(44, 32, 178);
}

/* main container */
.main-container{
    display: flex;
    width:97%;
    /* height: 500px; */
    margin-top:5%;
    /* border: 4px solid orangered; */
    background-color: pink;
    padding: 12px;
}

/* style all the divs in the main container */

.main-container div{
    width: 30%;
    height: 55%;
    margin: 3% 4% 2% 3%;
}


/* first photo  */
img.lights{
/* height: 50%; */
/* width: 20%; */
/* margin: 2% ; */
border: 2px solid rgb(209, 243, 57);
/* display: block; */

}

/* text on top  */
p.A1{
    color: white;
}

/* text on bottom of img */
p.photo.caption{
    color:white;
    margin: 0;
}

p.Aurora{
    color:white;
}

img{
    height:100%;
    width:100%;
}

/* secound img */
